body {
  margin: 0;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/*
** NAV BAR
*/

header {
  border-bottom: solid 8px #ff0b0a;
  padding: 1em;
}

#logo-container {
  display: flex;
  margin-bottom: 1em;
}

#logo-container:visited {
  color: #000;
}

#logo-container span {
  display: inline-block;
  margin: auto 0;
  font-family: "Artifika", serif;
  font-size: 2.2rem;
  font-weight: bold;
}

#logo {
  width: 3rem;
  margin-right: 1rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

#leftLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

#centerLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

#rightLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

/*
** FOOTER
*/

footer {
  border-top: solid 8px #a80000;
  padding: 1em;
  text-align: center;
  background-color: #eadcdb;
}

/*
** GENERAL
*/

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  border: none;
  border-radius: 4px;
  padding: 1em;
  font-weight: bold;
  background-color: #eece01;
  transition-duration: 1s;
}

button:hover {
  background-color: rgb(255, 136, 0);
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.all-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5em;
}

.container {
  box-sizing: border-box;
  width: 45%;
  max-width: 405px;
  min-width: 350px;
  padding: 1em;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  box-shadow: 0 -0 1em rgba(0, 0, 0, 0.05), -0 0 1em rgba(0, 0, 0, 0.05);
}

.containerLeft {
  width: 40%;
  max-height: 200px;
  min-width: 200px;
  display: flex;
  justify-content: center;
}

.containerLeft > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}

.containerRight {
  flex-grow: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

#containerRightSingle {
  float: right;
  display: flex;
  flex-direction: column;
  margin: 4px 4px;
  text-align: center;
  align-items: center;
}

.text-box {
  width: 50%;
  color: white;
  position: absolute;
  top: 75%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.homeimage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#editCustomerInfo {
  justify-content: center;
}

/*
** LANDING PAGE
*/

.landingpage {
  background: grey no-repeat url("./landingPage.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  text-align: center;
}

.landingpage > p {
  margin: 0;
  color: #eece01;
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 4px 4px 8px #a80000;
}

#landingPage-btn {
  border: 2px solid #eece01;
  border-radius: 4px;
  padding: 1em;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #a80000;
  color: #eece01;
  transition-duration: 1s;
}

#landingPage-btn:hover {
  background-color: #eece01;
  color: #a80000;
}

/*
** ALLHOTSAUCES
*/

#allHotSauces {
  padding: 1em;
}

/*
** SINGLEHOTSAUCE
*/

#singleHotSauce {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1em;
}

#add-item-to-cart {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#add-item-to-cart input {
  max-width: 2em;
  margin: auto;
}

/*
** CART
*/

#cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.quantity-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

.operatorButtons {
  display: inline-block;
  padding: 0;
  width: 1.5em;
  height: 1.5em;
  font-size: 1em;
  text-align: center;
}

.deleteFromCart {
  width: fit-content;
  color: #eadcdb;
  background-color: #a80000;
  transition-duration: 1s;
}

.deleteFromCart:hover {
  background-color: red;
}

#total-charges {
  margin-top: 1em;
}

#purchase-btn {
  width: 8em;
}

/*
** FLAME RATING
*/

.flame-gradient {
  background: -webkit-linear-gradient(to top, #a80000, #000);
  background: linear-gradient(to top, #a80000, #000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
** MEDIA
*/

@media (max-width: 400px) {
  #logo {
    margin-left: 1rem;
  }
  #logo-container {
    justify-content: center;
  }
}
