/*
** GENERAL
*/

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  text-align: center;
}

.component-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.info-banner {
  box-sizing: border-box;
  max-height: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.info-banner p {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

a {
  text-decoration: none;
}

button {
  display: block;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 1em;
  font-weight: bold;
  background-color: #eece01;
  transition-duration: 1s;
}

button:hover {
  background-color: rgb(255, 136, 0);
}

.cancelChanges {
  background-color: #fff;
  border: 1px solid #eece01;
}

label {
  display: block;
}

input {
  height: 2em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.all-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5em;
}

.container {
  box-sizing: border-box;
  width: 45%;
  max-width: 405px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  border-radius: 8px;
  padding: 1em;
  align-items: center;
  box-shadow: 0 -0 1em rgba(0, 0, 0, 0.05), -0 0 1em rgba(0, 0, 0, 0.05);
}

.containerLeft {
  width: 40%;
  max-height: 200px;
  min-width: 200px;
  display: flex;
  justify-content: center;
}

.containerLeft > img {
  object-fit: contain;
  object-position: 50% 50%;
}

.containerRight {
  max-width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.text-box {
  width: 50%;
  color: white;
  position: absolute;
  top: 75%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*
** NAV BAR
*/

header {
  border-bottom: solid 8px #ff0b0a;
  padding: 1em;
}

#logo-container {
  display: flex;
  margin-bottom: 1em;
}

#logo-container:visited {
  color: #000;
}

#logo-container span {
  display: inline-block;
  margin: auto 0;
  font-family: "Artifika", serif;
  font-size: 2.2rem;
  font-weight: bold;
}

#logo {
  width: 3rem;
  margin-right: 1rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

#leftLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

#centerLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

#rightLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

/*
** FOOTER
*/

footer {
  border-top: solid 8px #a80000;
  padding: 1em;
  text-align: center;
  background-color: #eadcdb;
}

/*
** LANDING PAGE
*/

.landingpage {
  background: grey no-repeat url("./landingPage.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  text-align: center;
}

.landingpage > p {
  margin: 0;
  color: #eece01;
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 4px 4px 8px #a80000;
}

#landingPage-btn {
  width: fit-content;
  margin: auto;
  border: 2px solid #eece01;
  border-radius: 4px;
  padding: 1em;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #a80000;
  color: #eece01;
  transition-duration: 1s;
}

#landingPage-btn:hover {
  background-color: #eece01;
  color: #a80000;
}

/*
** HOME
*/

#home {
  align-items: center;
}

#user-info {
  max-width: 700px;
}

#home-image {
  max-width: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}

/*
** LOGIN
*/

#login {
  flex-grow: 1;
  align-items: center;
}

form[name="login"] {
  min-width: 290px;
  align-items: unset;
}

/*
** SIGNUP
*/

#signup {
  flex-grow: 1;
  align-items: center;
}

form[name="signup"] {
  min-width: 290px;
  align-items: unset;
}

/*
** ALLCUSTOMERS
*/

td {
  border: 1px solid black;
  padding: 0.5em;
  word-break: break-all;
}

/*
** SINGLECUSTOMER
*/

#singleCustomer {
  align-items: center;
}

/*
** EDITCUSTOMER
*/

#edit-customer {
  align-items: center;
}

/*
** ALLHOTSAUCES
*/

#allHotSauces {
  align-items: center;
}

/*
** SINGLEHOTSAUCE
*/

#singleHotSauce {
  align-items: center;
}

#singleHotSauce-quantity {
  padding: 1em;
}

#add-item-to-cart {
  min-width: 90%;
  align-items: unset;
  padding: unset;
  box-shadow: unset;
}

#add-item-to-cart input {
  max-width: 2em;
  margin: auto;
}

#edit-hotSauce {
  width: 100%;
  align-items: center;
}

/*
** ADDHOTSAUCE
*/

#addHotSauce {
  align-items: center;
}

/*
** CART
*/

#cart {
  flex-grow: 1;
  align-items: center;
}

.quantity-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

.quantity-row td {
  border: unset;
}

.operatorButtons {
  display: inline-block;
  padding: 0;
  width: 1.5em;
  height: 1.5em;
  font-size: 1em;
  text-align: center;
}

.change-btns {
  color: #eadcdb;
  background-color: #a80000;
  transition-duration: 1s;
}

.change-btns:hover {
  background-color: red;
}

#total-charges {
  width: 20em;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: unset;
  gap: unset;
  box-shadow: unset;
}

/*
** FLAME RATING
*/

.flame-gradient {
  background: -webkit-linear-gradient(to top, #a80000, #000);
  background: linear-gradient(to top, #a80000, #000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
** MEDIA
*/

@media (max-width: 400px) {
  #logo {
    margin-left: 1rem;
  }
  #logo-container {
    justify-content: center;
  }
}

@media (max-width: 549px) {
  .info-banner {
    flex-direction: column;
  }
}
